name: Build wheel (cx_Logging)

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, windows-11-arm]
    defaults:
      run:
        shell: bash
    steps:

      - uses: actions/checkout@v6
        with:
          ref: develop
          repository: marcelotduarte/cx_Logging

      - uses: actions/setup-python@v6
        with:
          cache: "pip"
          python-version: "3.14"

      - name: Build wheels
        run: python -m pip install --upgrade cibuildwheel && cibuildwheel

      - name: Upload the artifact
        uses: actions/upload-artifact@v6
        with:
          name: cx-logging-${{ matrix.os }}
          path: wheelhouse
